body{
    background-color: #1c2346;
}

tr{
    font-size: large;
}

#weatherCard{
    background-color: black;
}
th:nth-child(even){
    color: blueviolet !important;
    background-color: black !important;
}
th:nth-child(odd){
    color: coral !important;
    background-color: rgb(90, 53, 164) !important;
}

td:nth-child(even){
    background-color: black;
    color: crimson;
    font-size: large !important;
    font-weight: 700;
}
td:nth-child(odd){
    background-color: black;
    color: gold;
    font-size: large !important;
    font-weight: 700;
}
.t-heading:nth-child(even){
    color: blueviolet;
    background-color: black !important;
}

a{
    color: turquoise !important;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet !important;
    font-size: 43px !important;
    margin: 1rem 0;
    background-color: black;
    border-radius: 10px;
    letter-spacing: 1.4;
    border-bottom: 2px solid coral;
}

#city{
    color: aquamarine;
}
.card{
    border: 3px solid crimson;
}
img{
    width: 130px;
    height: 100px;

}

.card-title{
    border-radius: 2px;
}

#weatherCard{
    padding: 1rem 3rem;
    background-blend-mode:hard-light;

}

.card-header{
    font-size: 43px ;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-header > p{
    font-size: 32px;
}
h3, h4, h1{
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornflowerblue !important;
}
 h4>span{
    color: red !important;
}

h1{
    color: orchid !important;
}

/* Media Query Responsiveness */

@media  screen and (max-width: 478px) {
    #country, #region{
        display: none;
    }

    #countryName{
        display: block;
        color: red !important;
        
    }
}

@media  screen and (max-width: 992px){
    #rowCol h3, h4{
        font-size: 22px;
    }
}

@media screen and (max-width: 488px){
    .heading, #place, #region, .temp{
        font-size: 26px !important;
    }
}

@media screen and (max-width: 333px){
    .temp, #countryName{
        font-size: 21px !important;
    }

    #rowCol h3, h4{
        font-size: 18px;
    }

}